<!--File Description: the main page for the application. -->

<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="js/scripts.js"></script>
  <% include ../partials/head %>

  <!-- Will's Code-->
  <script language = "javascript">
  $(document).ready(() => {

    //Toggle the presence of the map
    $(function() {
      $('#loadMap').on("click", (function() {
        $('#map').toggle();
        google.maps.event.trigger(map, 'resize');
        $('#right-panel').toggle();

      }));
    });
  });
  </script>


  <!-- Google Places API calls -->
  <script language="javascript">
    let latitude;
    let longitude;
    let key = "AIzaSyDraW-Ju21u9OHTgNB2fdSUrgu3ih2jlw8";
    let url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?";
    //get userlocation
    let x = document.getElementById("toFill");

    function getLocation() {
        if (navigator.geolocation) {
          let position = navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          console.log("geolocation is not supported");
          x.innerHTML = "Geolocation is not supported by this browser.";
        }

    }

    function showPosition(position) {
      latitude = position.coords.latitude;
      longitude = position.coords.longitude;

      let newUrl = url + "location=" + latitude + "%2C" + longitude + "&radius=80467.2&type=school&keyword=public&key=" + key; 
      let uri = encodeURIComponent(newUrl);
      window.location.href = '/json/' + uri;
      //let r = $.getJSON(newUrl);
      //let y = r[1];
    }
  </script>

</head>

<body id="page-top">
    <% include ../partials/navigation %>

    <div id="content-wrapper" style="height:100%; width: 100%;">

      <div class="container-fluid" style="height:100%; width: 100%;">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">Overview</li>
        </ol>

        <!-- Icon Cards-->
        <div class="row">
          <% if (data) { %>
            <% for (var i = 0; i < data.results.length; i++) { %>

              <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white o-hidden h-100"
                  <% if (data.results[i].photos != null) { %>
                    style="background-image: url('https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&maxheight=400&key=AIzaSyDraW-Ju21u9OHTgNB2fdSUrgu3ih2jlw8&photoreference=<%= data.results[i].photos[0].photo_reference%>')"
                  <% } else { %> 
                    style="background-color: #ADD8E6"
                  <% } %> 
                >
                  
                  <div class="card-body">
                    <div class="card-body-icon">
                      <i class="fas fa-fw fa-graduation-cap"></i>
                    </div>
                    <div class="mr-5"> <%= data.results[i].name %> </div>
                  </div>

                  <a class="card-footer text-white clearfix small z-1"
                    href="/school/<%= i %>">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                      <i class="fas fa-angle-right"></i>
                    </span>
                  </a>
                </div>
              </div>

            <% } %>
          <% } %>
        </div>

        <!-- List Schools-->
        <div class="card mb-3" style="height:100%; width: 100%;">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Find Schools By Location
          </div>
          <div class="card-body" style="height:100%; width: 100%;">
            <h1 style="color:#6C6F7D"> Just Cause </h1>

            <button class="button" id="loadMap">Show Schools Near Me</button><br/>
            <div id="map" class="initiallyHidden"></div>
            <div id="right-panel" class="initiallyHidden">
                <h2 class="maps">Results</h2>
                <ul id="places" class="maps"></ul>
                <button id="more">More results</button>
            </div>

            <br/> 
            <div id="button">
                <button class="button" onclick="getLocation()">Find Schools</button> <br/><br/>
            </div>
            </div><br/>

          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

        <% if (data) { %>
          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              All Schools</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>School</th>
                      <th>Location</th>
                      <th>Type</th>
                      <th>Donations Needed</th>
                      <th>Extra info</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>School</th>
                      <th>Location</th>
                      <th>Type</th>
                      <th>Donations Needed</th>
                      <th>Extra info</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <% for (var i = 0; i < data.results.length; i++) { %>
                    <tr>
                      <td> <%= data.results[i].name %> </td>
                      <td> <%= data.results[i].vicinity %> </td>
                      <td> <%= data.results[i].types[0] %> </td>
                      <td>$30,000</td>
                      <td>etc.</td>
                    </tr>
                    <% } %>
                 </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
        <% } %>

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer 
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Just Cause 2019</span>
          </div>
        </div>
      </footer>
      -->
    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <% include ../partials/footer %>

</body>

</html>
